{% extends 'base.html.twig' %}

{% block title %}Ouitter - Inscription.{% endblock %}

{% block body %}
    <section class="hero">
        <div class="left">
            <img class="left-img" src="/img/accueil.jpeg">
        </div>
        <div class="login-form-container">
            <div class="login-title">
                <h1 class="main-title">Ce qu'il se passe <span>(Vraiment)</span></h1>
                <h2 class="main-subtitle">Rejoingnez ouiter dès Aujourd'hui.</h2>
            </div>
            <div class="login-form">
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                {{ form_start(registrationForm) }}
                <div class="input-container input-login">
                    {{ form_row(registrationForm.email) }}
{#                    <label for="registration_form_email">E-mail</label>#}
                </div>
                <div class="input-container input-login">
                    {{ form_row(registrationForm.plainPassword) }}
{#                    <label for="registration_form_plainPassword">Mot de passe</label>#}
                </div>
                {{ form_row(registrationForm.agreeTerms) }}
                <span class="terms">En vous inscrivant, vous acceptez les Conditions d'Utilisation et la Politique de Confidentialité, incluant l'Utilisation de Cookies.</span>

                <button type="submit" class="btn">Rejoindre ouiter.</button>
                {{ form_end(registrationForm) }}
            </div>

            <div class="ou-container">
                <div class="ou-line"></div>
                <span class="text">ou</span>
                <div class="ou-line"></div>
            </div>

            <div class="register">
                <a href="{{ path('login') }}" class="btn">Se connecter</a>
            </div>
        </div>
    </section>
{% endblock %}
