{% extends 'base.html.twig' %}

{% block title %}Ouitter.{% endblock %}

{% block body %}
<section class="main-ouitter">
    <div class="container">
        <div class="nav-ouitter">
            <img>
            <div class="nav">
                <a href="#">Accueil</a>
            </div>
            <div class="profile">
                <div class="logo-profile">
                    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGbJepfvHTU_Q/profile-displayphoto-shrink_400_400/0/1629451119537?e=1661990400&v=beta&t=YyOUXavHJNl02ANfnNUJEQSy8Vz3C09jto3wLlWf48E">
                </div>
                <div class="profile-text">
                    <span class="pseudo">Noé</span>
                    <span>@noe141592</span>
                </div>
            </div>
        </div>
        <div class="ouitter-container">
            <div class="sticky-breadcrumb">
                <h1>Accueil</h1>
            </div>
            <div class="makepost-container">
                <div class="logo">
                    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGbJepfvHTU_Q/profile-displayphoto-shrink_400_400/0/1629451119537?e=1661990400&v=beta&t=YyOUXavHJNl02ANfnNUJEQSy8Vz3C09jto3wLlWf48E">
                </div>
                <div class="makepost-post">
                    <textarea placeholder="Quoi de neuf ?"></textarea>
                    <button class="btn btn-ouitter">Ouitter</button>
                </div>
            </div>
            <div class="ouitter-post-container">
                <div class="ouitter-post">
                    <div class="logo">
                        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGbJepfvHTU_Q/profile-displayphoto-shrink_400_400/0/1629451119537?e=1661990400&v=beta&t=YyOUXavHJNl02ANfnNUJEQSy8Vz3C09jto3wLlWf48E">
                    </div>
                    <div class="post">
                        <div class="title">
                            <span class="pseudo">Noé</span>
                            <span>@noe141592</span>
                            <span>· 57 min</span>
                        </div>
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                Donec quam felis, ultricies nec, pellentesque eu
                            </p>
                        </div>
                        <div class="reaction">
                            <div class="shadow comment">
                                <i class="far fa-comment blue"></i>
                            </div>
                            <div class="shadow rt">
                                <i class="fas fa-retweet green"></i>
                            </div>
                            <div class="shadow like">
                                <i class="far fa-heart red"></i>
                            </div>
                        </div>
                    </div>
                    <div class="parameter">
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                </div>
                <div class="ouitter-post">
                    <div class="logo">
                        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGbJepfvHTU_Q/profile-displayphoto-shrink_400_400/0/1629451119537?e=1661990400&v=beta&t=YyOUXavHJNl02ANfnNUJEQSy8Vz3C09jto3wLlWf48E">
                    </div>
                    <div class="post">
                        <div class="title">
                            <span class="pseudo">Noé</span>
                            <span>@noe141592</span>
                            <span>· 57 min</span>
                        </div>
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                Donec quam felis, ultricies nec, pellentesque eu
                            </p>
                        </div>
                        <div class="reaction">
                            <div class="shadow comment">
                                <i class="far fa-comment blue"></i>
                            </div>
                            <div class="shadow rt">
                                <i class="fas fa-retweet green"></i>
                            </div>
                            <div class="shadow like">
                                <i class="far fa-heart red"></i>
                            </div>
                        </div>
                    </div>
                    <div class="parameter">
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                </div>
                <div class="ouitter-post">
                    <div class="logo">
                        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGbJepfvHTU_Q/profile-displayphoto-shrink_400_400/0/1629451119537?e=1661990400&v=beta&t=YyOUXavHJNl02ANfnNUJEQSy8Vz3C09jto3wLlWf48E">
                    </div>
                    <div class="post">
                        <div class="title">
                            <span class="pseudo">Noé</span>
                            <span>@noe141592</span>
                            <span>· 57 min</span>
                        </div>
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                Donec quam felis, ultricies nec, pellentesque eu
                            </p>
                        </div>
                        <div class="reaction">
                            <div class="shadow comment">
                                <i class="far fa-comment blue"></i>
                            </div>
                            <div class="shadow rt">
                                <i class="fas fa-retweet green"></i>
                            </div>
                            <div class="shadow like">
                                <i class="far fa-heart red"></i>
                            </div>
                        </div>
                    </div>
                    <div class="parameter">
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                </div>
                <div class="ouitter-post">
                    <div class="logo">
                        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGbJepfvHTU_Q/profile-displayphoto-shrink_400_400/0/1629451119537?e=1661990400&v=beta&t=YyOUXavHJNl02ANfnNUJEQSy8Vz3C09jto3wLlWf48E">
                    </div>
                    <div class="post">
                        <div class="title">
                            <span class="pseudo">Noé</span>
                            <span>@noe141592</span>
                            <span>· 57 min</span>
                        </div>
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                Donec quam felis, ultricies nec, pellentesque eu
                            </p>
                        </div>
                        <div class="reaction">
                            <div class="shadow comment">
                                <i class="far fa-comment blue"></i>
                            </div>
                            <div class="shadow rt">
                                <i class="fas fa-retweet green"></i>
                            </div>
                            <div class="shadow like">
                                <i class="far fa-heart red"></i>
                            </div>
                        </div>
                    </div>
                    <div class="parameter">
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-ouitter">

        </div>
    </div>
</section>
{% endblock %}