{% extends 'base.html.twig' %}

{% block title %}Ouitter.{% endblock %}

{% block body %}
    <section class="hero">
        <div class="left">
            <img class="left-img" src="/img/accueil.jpeg">
        </div>
        <div class="login-form-container">
            <div class="login-title">
                <h1 class="main-title">Ce qu'il se passe (Vraiment)</h1>
                <h2 class="main-subtitle">Connectez vous dès maintenant.</h2>
            </div>
            <div class="login-form">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form action="{{ path('login') }}" method="post">
                    <div class="input-container input-login">
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required>
                        <label for="_username">E-mail</label>
                    </div>
                    <div class="input-container input-login">
                        <input type="password" id="password" name="_password" required>
                        <label for="_password">Mot de passe</label>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}

                    <button class="btn" type="submit">Connexion</button>
                </form>
            </div>

            <div class="ou-container">
                <div class="ou-line"></div>
                <span class="text">ou</span>
                <div class="ou-line"></div>
            </div>

            <div class="register">
                <a href="{{ path('app_register') }}" class="btn">S'inscrire</a>
            </div>
        </div>
    </section>
{% endblock %}
