* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
}

textarea{
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}

$black: #000;
$orange: #f48c06;
$yellow: #ffba08;
$blue: #c3ecf2;
$white: #fff;

.btn{
  display: block;
  border: 1px solid $orange;
  padding: 5px;
  border-radius: 25px;
  background-color: $orange;
  color: $white;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  text-align: center;
}

.hero{
  width: 100%;
  max-width: 100%;
  display: flex;
  min-height: 100vh;

  .left{
    width: 55%;
    background-color: $orange;

    .left-img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }

  .login-form-container{
    width: 45%;
    background-color: $black;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    .main-title{
      font-size: 4rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
      color: $white;
      font-family: 'Anek Latin', sans-serif;

      span{
        color: $orange;
        font-family: 'Anek Latin', sans-serif;
        font-weight: 800;
      }
    }

    .main-subtitle{
      font-size: 2.5rem;
      margin-bottom: 2rem;
      color: $white;
      font-family: 'Anek Latin', sans-serif;
    }

    .terms{
      color: rgb(113, 118, 123);
      font-size: 11px;
      font-weight: 400;
    }

    .login-form{
      width: 50%;
      form{
        display: flex;
        flex-direction: column;
      }


      .input-container {
        position: relative;
        margin: 10px;
      }


      .input-login input {
        width: 100%;
        padding: 10px;
        border: 1px solid rgba(255, 255, 255, 0.25);
        background: #414141;
        border-radius: 5px;
        outline: none;
        color: #fff;
        font-size: 1em;
      }

      .input-login label {
        position: absolute;
        left: 0;
        padding: 10px;
        pointer-events: none;
        font-size: 1em;
        color: rgba(255, 255, 255, 0.25);
        text-transform: uppercase;
        transition: 0.5s;
        border-radius: 5px;
      }

      .input-login input:valid ~ label,
      .input-login input:focus ~ label {
        color: #414141;
        transform: translateX(10px) translateY(-7px);
        font-size: 0.65em;
        padding: 0 10px;
        letter-spacing: 0.2em;
        background-color: #eee;
      }
      .input-login input:valid,
      .input-login input:focus {
        border-color: #eee;
      }
    }

    .register {
      margin-top: 20px;
      width: 50%;
    }
  }

  .ou-container{
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 50%;
    margin-top: 1rem;
    .ou-line{
      width: 43%;
      height: 1px;
      background-color: rgb(47, 51, 54);
    }

    .text{
      color: $white;
      margin-right: 5px;
      margin-left: 5px;
      margin-bottom: 2px;
    }
  }
}


/// home ///
.main-ouitter{
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  .container{
    display: flex;
    justify-content: center;
    width: 70%;
  }
  .ouitter-container{
    width: 600px;
    max-width: 100%;
    min-height: 100vh;
    border-right: 1px solid rgb(210, 210, 210);
    border-left: 1px solid rgb(210, 210, 210);
    
    .sticky-breadcrumb{
      width: 540px;
      position: fixed;
      backdrop-filter: blur(4px);
      background-color: rgba(255, 255, 255, 0.85);
      padding: .5rem 1rem;
      font-size: .9rem;
    }
    
    .makepost-container{

    }

    .ouitter-post-container{
      border-top: 1px solid rgb(210, 210, 210);
      
      .ouitter-post{
        width: 100%;
        padding: 1rem 1rem 1rem 0;
        display: flex;
        transition: .3s;
        cursor: pointer;
        border-bottom: 1px solid rgb(210, 210, 210);

        &:hover{
          background-color: #F5F5F5FF;
        }

        .title{
          color: #a4a4a4;

          .pseudo{
            font-weight: bold;
            color: black;
          }
        }

        .text{
          margin-top: 10px;
          margin-bottom: 8px;
        }

        .post{
          width: 75%;
        }

        .reaction{
          display: flex;

          div{
            margin-left: 140px;

            &:first-child{
              margin-left: 0;
            }
          }

          .blue{
            &:hover{
              color: #3894FFFF;

            }
          }
          .shadow{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            transition: .3s;
            i{
              position: absolute;
            }
          }

          .rt{
            &:hover{
              background-color: rgba(58,184,121,0.2);
              box-shadow: 0 0 0 5px rgba(58,184,121,0.2);

              .green{
                color: #3AB879FF;
              }
            }
          }


          .like{
            &:hover{
              background-color: rgba(245, 4, 116 ,0.2);
              box-shadow: 0 0 0 5px rgba(245, 4, 116 ,0.2);

              .red{
                color: #F50474FF;
              }
            }
            .red{
              position: absolute;
              margin-top: 1px;
            }
          }

          .comment{
            &:hover{
              background-color: rgba(56,148,255,0.2);
              box-shadow: 0 0 0 5px rgba(56,148,255,0.2);

              .blue{
                color: #3894FFFF;
              }
            }
          }
        }

        .parameter{
          width: 5%;
        }
      }
    }
  }

  .nav-ouitter{
    width: 15%;
    max-width: 100%;
    display: flex;
    flex-direction: column;

    .profile{
      display: flex;

      .profile-text{
        padding-left: .4rem;
      }
      .pseudo{
        font-weight: bold;
      }
    }

    .logo-profile{
      img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }
}

.logo{
  width: 20%;
  max-width: 100%;
  display: flex;
  justify-content: center;

  img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

.makepost-container{
  margin-top: 2rem;
  display: flex;
  width: 100%;
  max-width: 100%;
  padding: 1rem 1rem 1rem 0;

  .makepost-post{
    width: 75%;

    textarea{
      padding: .5rem;
      width: 100%;
      font-size: 1.2rem;
    }

    .btn-ouitter{
      padding: .5rem 1rem;
      float: right;
    }
  }
}

.nav-ouitter{
  display: flex;
}